<header>
  <div class="header-marquee">
    <div class="marquee-track">
      <div class="marquee-content">
        <span class="prize">Nintendo Switch</span>
        <span class="win">Win</span>
        <span class="prize">Pro Account</span>
        <img class="shape-1" src="/images/marquee-shape-1.svg" />
        <span class="win">Collect them all</span>
        <span class="prize">Nintendo Switch</span>
        <span class="win">Win</span>
        <img class="shape-2" src="/images/marquee-shape-2.svg" />
        <span class="prize">Pro Account</span>
        <img class="shape-2" src="/images/marquee-shape-2.svg" />
        <span class="win">Win</span>
        <span class="win">Collect them all</span>
      </div>

      <div class="marquee-content">
        <span class="prize">Nintendo Switch</span>
        <span class="win">Win</span>
        <span class="prize">Pro Account</span>
        <img class="shape-1" src="/images/marquee-shape-1.svg" />
        <span class="win">Collect them all</span>
        <span class="prize">Nintendo Switch</span>
        <span class="win">Win</span>
        <img class="shape-2" src="/images/marquee-shape-2.svg" />
        <span class="prize">Pro Account</span>
        <img class="shape-2" src="/images/marquee-shape-2.svg" />
        <span class="win">Win</span>
        <span class="win">Collect them all</span>
      </div>
    </div>
  </div>

  <div class="masthead">
    <div class="conf-subhead">
      <img class="conf-mark" src="/images/fitc-mark.svg" />
      <span class="conf-title">Web Unleashed 2024</span>
      <img class="conf-mark" src="/images/netlify-mark.svg" />
    </div>
    <h1>Netlify Collect</h1>
    <p>
      Deploy your site to earn a few Netlify pro account for six months.
      <br />
      Collect all the platform primitives for a chance to win a Nintendo Switch.
    </p>
  </div>
</header>
